# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.venv-build/
*.spec


# Virtual Environments
venv/
.venv/
ENV/
env/
*.env
# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- Editors / IDEs ---
.vscode/
.idea/
*.swp
*.swo